<!doctype html>
<html>
    <head>
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style.css') }}">
        <link href="https://fonts.googleapis.com/css?family=Work+Sans" rel="stylesheet">
        <link rel="icon" href="{{ url_for('static',filename='favicon.ico') }}" />
        <title>Kai Aldag</title>
    </head>
    <body>
        <div id="Header">
            <a id="title-link", href="/">
            <h2>Kai Aldag</h2>
            </a>
        </div>
        <div id="content">
            <h1>WWDC: A Beginner’s Guide</h1>
            <p> &emsp; Last year I was fortunate enough to win a coveted scholarship to Apple’s annual WorldWide Developers Conference. It was an amazing week full of learning, networking, coding, touring and just about everything in between. However as a first-timer it certainly seemed a bit overwhelming and felt as though I was entering uncharted lands. So, to ease that feeling for future generations I thought I’d write about my week and give some pointers and insight into the awe-inspiring week.</p>
            <h2>The Outline</h2>
            <h3>Saturday &#38; Sunday — Arrival</h3>
        </div>
        <div id="Footer">
            <h3 id="designed">Designed by Kai Aldag in Vancouver.</h3>
            <ul id="links">
                <li><a href="https://twitter.com/KaiCode2" target="_blank">Twitter</a></li>
                <li><a href="https://github.com/KaiCode2" target="_blank">Github</a></li>
            </ul>
        </div>
    </body>
</html>
