
#Header {
    border-bottom: 1px solid #eee;
}

#title-link {
    color: rgba(0, 0, 0, 1);
}

#title-link:hover {
    text-decoration: underline;
}

#Latest-Blog-Posts {
    border-bottom: 1px solid #eee;
}

div {
    width: 75%;
    margin: 0 auto;
    align-content: center;
}

h1 {
    font-family: 'Work Sans', sans-serif;
    text-align: center;
}

h2 {
    font-family: 'Work Sans', sans-serif;
    text-align: center;
}

h3 {
    font-family: 'Work Sans', sans-serif;
    text-align: center;
    color: rgba(0, 0, 0, 0.75);
}

h4 {
    font-family: 'Work Sans', sans-serif;
    text-align: center;
    color: rgba(0, 0, 0, 0.75);
}

p {
    font-family: 'Work Sans', sans-serif;
    text-align: center;
    color: rgba(0, 0, 0, 0.75);
}

ul {
    list-style-type: none;
    padding-left: 0;
}

a {
    text-decoration: none;
    color: rgba(150, 150, 250, 1);
}

a:hover {
    color: rgba(100, 100, 150, 1);
}

#content {
    border-bottom: 1px solid #eee;
}

#content p {
    text-align: left;
}

#post {
    height: 100px;
}

#post h3 {
    font-family: 'Work Sans', sans-serif;
    text-align: center;
    color: rgba(112, 128, 144, 1);
}

#post li p {
    font-family: 'Work Sans', sans-serif;
    text-align: center;
    color: rgba(1, 1, 1, 0.5);
}

#post img {
    margin-top: -90px;
    width: 75%;
    height: 100px;
    position: absolute;
    z-index: -1;
}

#designed {
    color: rgba(179, 180, 184, 1);
}

#links {
    text-align: center;
}

#links li {
    display: inline-block;
    margin-right: 2%;
}
